<nav>
  <ul>
    <li>
      <a
        routerLink="/app-walkthrough"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >app-walkthrough</a
      >
    </li>
    <li>
      <a
        routerLink="/app-overview-effect"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >app-overview-effect</a
      >
    </li>
    <li>
      <a
        routerLink="/my-component-store"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >my-component-store</a
      >
    </li>
  </ul>
</nav>
<router-outlet />
